.navbar {
  display: flex;
  height: 100px;
}
.left-navbar {
  margin-top: 50px;
  margin-left: 100px;
  flex: 1;
}

.right-image {
  width: 100%;
  height: 500px;
  margin-right: 130px;
}
.container {
  background-color: #0f0f0f;
  display: flex;
}
.left-container {
  flex: 1;
  font-family: "Andada Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 170px;
  width: 200px;
  align-items: center;
  justify-content: center;
}
.text-desc {
  font-size: 24px;
  font-family: "Jost", sans-serif;
  margin-top: 50px;
  font-weight: 400;
  width: 80%;
  color: #cacaca;
}
form {
  margin-top: 50px;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
input {
  width: 69%;
  height: 50px;
  border: none;
  margin: 10px 0px;
  padding-left: 30px;
  background-color: #383838;
  font-family: "Jost", sans-serif;
  color: #ffffff;
  font-size: 20px;
}
::placeholder {
  font-family: "Jost", sans-serif;
  color: #c4c4c4;
  font-size: 20px;
}
button {
  border: none;
  width: 73%;
  padding: 15px;
  cursor: pointer;
  background: linear-gradient(251.82deg, #f3e6d5 -24.9%, #6055ce 80.01%);
  font-weight: normal;
  margin: 10px 0px;
  font-family: "Jost", sans-serif;
  color: #ffffff;
  font-size: 20px;
}
.top-bar {
  display: none;
}

.right-container {
  margin-right: 64px;
  padding-left: 100px;
  bottom: 2px;
  right: 2px;
  margin-top: 120px;
}

@media screen and (max-width: 480px) {
  .left-container {
    font-size: 50px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 350px;
    margin-bottom: 100px;
    width: 200px;
    flex: 1;
  }
  .logo-left-container {
    width: 100%;
  }
  .text-desc {
    font-size: 18px;
    font-family: "Jost", sans-serif;
    margin-top: 50px;
    font-weight: 400;
    width: 300px;
  }
  input {
    width: 300px;
  }
  .right-container {
    display: none;
  }
  ::placeholder {
    font-family: "Jost", sans-serif;
    color: #c4c4c4;
    font-size: 18px;
  }
  button {
    width: 330px;
  }
  .container {
    display: flex;
  }
  .left-navbar {
    margin-top: 50px;
    margin-left: 20px;
    width: 24px;
  }
  .right-image {
    width: 100%;
    height: 400%;
    margin-right: 0px;
  }
  .logo-image {
    display: none;
  }
}
